<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uav.ops.mapper.DeptMapper">

    <insert id="syncOrg">
        TRUNCATE TABLE sys_dept;
        insert into sys_dept(id, parent_id, org_code, org_name, sort, user_ids, create_by) values
        <foreach collection="list" index="index" item="dept" separator=",">
            (#{dept.id}, #{dept.parentId}, #{dept.orgCode}, #{dept.orgName}, #{dept.sort}, #{dept.userIds}, #{userId})
        </foreach>
        ;
    </insert>

    <select id="getBody" resultType="com.uav.ops.dto.res.DeptTreeResDTO">
        select id, parent_id, org_code, org_name, sort, user_ids, create_date from sys_dept where id!='1' and is_delete=0
    </select>

    <select id="getRoot" resultType="com.uav.ops.dto.res.DeptTreeResDTO">
        select id, parent_id, org_code, org_name, sort, user_ids, create_date from sys_dept where id='1' and is_delete=0
    </select>

    <select id="listCompanyList" resultType="com.uav.ops.dto.res.DeptTreeResDTO">
        select id, parent_id, org_name from sys_dept
        where parent_id='1' and is_delete=0
        order by sort
    </select>

    <select id="selectParent" resultType="com.uav.ops.dto.res.DeptTreeResDTO">
        select d2.id, d2.parent_id, d2.org_code, d2.org_name, d2.sort, d2.user_ids, d2.create_date
        from sys_dept as d1
        left join sys_dept as d2 on d1.parent_id=d2.id and d2.is_delete=0
        where d1.id=#{deptId} and d1.is_delete=0
    </select>

    <select id="selectDepartmentUser" resultType="com.uav.ops.dto.res.UserResDTO">
        select u.*, ue.real_name, d.org_name as dept_name, p.post_name as user_name
        from sys_dept as d
        left join sys_post as p on p.org_id=d.id and p.status=0 and p.is_delete=0
        <if test="dangerId==null">
            and p.post_name='科长'
        </if>
        <if test="dangerId!=null">
            and p.post_name in ('部长', '副部长')
        </if>
        left join sys_user_post as up on up.post_id=p.id
        left join sys_user as u on u.id=up.user_id and u.is_delete=0 and u.status=1
        left join sys_user_role as ur on u.id=ur.user_id
        left join sys_user_ext as ue on ue.user_id=u.id and ue.is_delete=0
        where d.parent_id=#{deptId} and d.is_delete=0 and u.id is not null
        <if test="dangerId==null">
            and d.org_name like CONCAT('%','科')
        </if>
        <if test="dangerId!=null">
            and d.org_name like CONCAT('%','部')
        </if>
    </select>
</mapper>