<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uav.ops.mapper.DeviceMapper">

    <select id="listDevice" resultType="com.uav.ops.dto.res.DeviceResDTO">
        select id, device_name, type, device_code, push_url, pull_url, status, is_conn, is_live,
        remark, create_date, is_maintain, fly_time, maintain_time
        from t_device where is_delete=0
        <if test="name!=null and name!=''">
            and device_name like concat('%', #{name}, '%')
        </if>
        order by create_date desc
    </select>

    <select id="listAllDevice" resultType="com.uav.ops.dto.res.DeviceResDTO">
        select id, device_name, type, device_code, push_url, pull_url, status, is_conn, is_live,
        remark, create_date, is_maintain, fly_time, maintain_time
        from t_device where is_delete=0 and status=0
        order by create_date desc
    </select>

    <select id="listAllUav" resultType="com.uav.ops.dto.res.DeviceResDTO">
        select id, device_name, type, device_code, push_url, pull_url, status, is_conn, is_live,
        remark, create_date, is_maintain, fly_time, maintain_time
        from t_device where is_delete=0 and type=1
        <if test="status!=null">
            and status=#{status}
        </if>
        order by create_date desc
    </select>

    <select id="listMaintainDevice" resultType="com.uav.ops.dto.res.DeviceResDTO">
        select id, device_name, type, device_code, push_url, pull_url, status, is_conn, is_live,
        remark, create_date, is_maintain, fly_time, maintain_time
        from t_device where is_delete=0 and status=0 and 30>=maintain_time-fly_time and maintain_time!=0
        order by create_date desc
    </select>

    <select id="getDeviceDetail" resultType="com.uav.ops.dto.res.DeviceResDTO">
        select id, device_name, type, device_code, push_url, pull_url, status, is_conn, is_live,
        remark, create_date, is_maintain, fly_time, maintain_time
        from t_device where is_delete=0 and id=#{id}
    </select>

    <insert id="addDeviceWarning">
        <foreach collection="list" index="index" item="device" separator=";">
            insert into t_device_warning (id, warning_info, device_id, create_by)
            select (REPLACE(UUID(), '-', ''), concat(#{device.deviceName}, '无人机已到需要保养时长，请前往保养'), #{device.id}, #{device.userId}
            from dual
            WHERE not exists (SELECT id FROM t_device_warning WHERE device_id=#{device.id} and status=0)
        </foreach>
    </insert>

    <select id="selectDeviceFault" resultType="com.uav.ops.dto.res.DeviceResDTO$DeviceFault">
        select id, device_id, info from t_device_fault where device_id=#{id} and is_delete=0
        order by create_date desc
    </select>

    <select id="getDeviceFaultDetail" resultType="com.uav.ops.dto.res.DeviceResDTO$DeviceFault">
        select id, device_id, info from t_device_fault where id=#{id} and is_delete=0
    </select>

    <select id="selectDeviceIsExist" resultType="java.lang.Integer">
        select count(1) from t_device
        where device_name=#{deviceName} and type=#{type}
        <if test="id!=null and id!=''">
            and id!=#{id}
        </if>
        limit 1
    </select>

    <insert id="addDevice">
        insert into t_device(id, device_name, type, device_code, push_url, pull_url, status,
        <if test="isConn!=null">
            is_conn,
        </if>
        <if test="isLive!=null">
            is_live,
        </if>
        <if test="isMaintain!=null">
            is_maintain,
        </if>
        <if test="flyTime!=null">
            fly_time,
        </if>
        <if test="maintainTime!=null">
            maintain_time,
        </if>
        remark, create_by)
        value (#{id}, #{deviceName}, #{type}, #{deviceCode}, #{pushUrl}, #{pullUrl}, #{status},
        <if test="isConn!=null">
            #{isConn},
        </if>
        <if test="isLive!=null">
            #{isLive},
        </if>
        <if test="isMaintain!=null">
            #{isMaintain},
        </if>
        <if test="flyTime!=null">
            #{flyTime},
        </if>
        <if test="maintainTime!=null">
            #{maintainTime},
        </if>
        #{remark}, #{userId})
    </insert>

    <update id="modifyDevice">
        update t_device set
        <if test="deviceName!=null">
            device_name=#{deviceName},
        </if>
        <if test="type!=null">
            type=#{type},
        </if>
        <if test="deviceCode!=null">
            device_code=#{deviceCode},
        </if>
        <if test="pushUrl!=null">
            push_url=#{pushUrl},
        </if>
        <if test="pushUrl!=null">
            pull_url=#{pullUrl},
        </if>
        <if test="status!=null">
            status=#{status},
        </if>
        <if test="isConn!=null">
            is_conn=#{isConn},
        </if>
        <if test="isLive!=null">
            is_live=#{isLive},
        </if>
        <if test="remark!=null">
            remark=#{remark},
        </if>
        <if test="isMaintain!=null">
            is_maintain=#{isMaintain},
        </if>
        <if test="flyTime!=null">
            fly_time=#{flyTime},
        </if>
        <if test="maintainTime!=null">
            maintain_time=#{maintainTime},
        </if>
        update_by=#{userId}
        where id=#{id} and is_delete=0
    </update>

    <update id="deleteDevice">
        update t_device set
        is_delete=1, update_by=#{userId}
        where id=#{id} and is_delete=0
    </update>

    <insert id="addDeviceFault">
        insert into t_device_fault(id, device_id, info, create_by)
        value (#{deviceFault.id}, #{deviceFault.deviceId}, #{deviceFault.info}, #{userId})
    </insert>
</mapper>